requests==2.32.3
streamlit==1.36.0
joblib==1.4.2
pandas==2.2.2
pyarrow==17.0.0
pycparser==2.22
pydantic==2.8.2
pydantic-extra-types==2.9.0
pydantic-settings==2.3.4
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
